@model IEnumerable<MvcBlog.Models.Comentario>

@{
    ViewBag.Title = "Comentarios";
}

<h2>Comentarios de @ViewBag.TituloComentario</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table>
    <tr>
        <th style="display:none;">
            IdComentario
        </th>
        <th>
            Autor
        </th>
        <th>
            Contenido
        </th>
        <th style="display:none;">
            IdPost
        </th>
        <th>
            Fecha
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.HiddenFor(modelItem => item.IdComentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contenido)
        </td>
        <td>
            @Html.HiddenFor(modelItem => item.IdPost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
