@model MvcBlog.Models.Post

<fieldset>
    <legend>Post</legend>

    <h2>
        @Html.DisplayFor(model => model.Titulo)
    </h2>

    <div class="display-field">
        @Html.DisplayFor(model => model.Contenido)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IdPost }) |
    @Html.ActionLink("Delete", "Delete", new { id=Model.IdPost }) |
    @Html.RouteLink("Ver Comentarios", "ListComentariosByTituloPost", new { tituloPost = Model.Titulo, idPost = Model.IdPost })
</p>
